<div class="imag_bg" >
  	<ion-view title="Forget-password" >
   		 <ion-content class="padding">
			<div class="main_wrapper">
				<div class="middle_text">			
					<div class="loding_scree">  <!--logo heading part start here-->
						<img src="img/logo.png" class="img-responsive">
						<h2>Forgotten Your password?</h2>
						<h4>An email has been sent to you inbox with instructions to reset your password.</h4>
						<a href="#" class="ok_button">Ok</a>
					</div><!--logo heading part end here-->			
				</div>
			</div>
		</ion-content>
 	 </ion-view>
</div>